<!doctype html>
<html id="wholepage">
<div id="pagecontent">
	<head>
		<link rel="stylesheet" href="/static/css/style.css">

	</head>

	<body>
	
	<div id="header">
		<!-- <h1>Tourist Road Safety for Kids NZ</h1> -->
	</div> 

	<div>

	</div>

    <section id="section">
	
	<form method="get" action="/quiz">
		<button  id="quizbutton" type="submit"><h1 style="font-size:180%; font-family: 'quicksand-bold';">Quiz</h1>Enter the Quiz</button>
	</form>
	
	<h1>This is the Home Page for my Quiz</h1>
	<h1>To enter the quiz, click the Quiz tab above. This is only a temporary format of the site to get the website functional.</h1>

	
    </section>

	</body>
	
</div>
</html>